.complaints__chart {
  display: flex;
  flex-direction: column;
  border: 1px solid #DDD;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.chart_data {
  height: 300px;
  border-radius: 15px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.chart_tooltip {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
}
