.button {
  background: #0984e3;
  color: #FFF;
  border-radius: 5px;
  padding: .7rem .65rem;
  font-size: .875rem;
  border: none;
  transition: .345s ease background;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  
  &:focus {
    outline: none;
  }
  
  &:hover {
    text-decoration: none;
    color: #FFF;
    background: #74b9ff;
  }
}