.homepage_input__container {
  display: flex;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #DDD;
  padding: .5rem .5rem;
  margin-top: 5rem;
}

.homepage_input__input {
  border: none;
  font-size: 1.25rem;
  outline: none;
  flex: 1 1 100%;
  padding-right: .5rem;
  width: 100%;
}

.homepage_input__button {
  padding: .75rem 1rem;
  background: #000;
  color: #FFF;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .345s ease-in-out background;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background: #333;
  }
}