.homepage_input__container {
  display: flex;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #DDD;
  padding: .5rem .5rem;
  margin-top: 5rem;
  position: relative;
}

.homepage_input__input {
  border: none;
  font-size: 1.25rem;
  outline: none;
  flex: 1 1 100%;
  padding-right: .5rem;
  width: 100%;
}

.homepage_input__button {
  padding: .75rem 1rem;
  background: #1BC54A;
  color: #FFF;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .15s ease all;
  height: 48px;
  min-width: 85px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 1;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background: rgba($color: #3EC886, $alpha: .88);
    color: #FFF;
  }
}

.homepage_input__search_results {
  position: absolute;
  top: calc(100% - 2px);
  border: 1px solid #DDD;
  width: calc(100% + 2px);
  list-style: none;
  margin: 0;
  left: -1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #FFF;
  z-index: 99;
  padding: .5rem;
}

.homepage_input__search_li {
  display: block; 
}

.homepage_input__search_result {
  color: #000;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
  text-transform: capitalize;

  &:hover {
    color: #000;
    text-decoration: none;
    background: #f1f2f6;
  }
}