.violations {
  width: 100%;
  border-radius: 15px;
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  overflow: none;
}

.more_violations {
  padding: 1rem;
  background: #DDD;
  color: #636e72;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: .345s ease all;

  &:hover {
    background: #0984e3;
    color: #FFF;
    cursor: pointer;
  }
}