.apartment_card {
  border: 1px solid #DDD;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: .345s ease all;
  color: #000;

  &:hover {
    box-shadow: 0 0 0 1px #000;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
  }
}

.apartment_card__header {

}

.apartment_card__content {
  padding: 1rem;
}

.apartment_card__footer {
  border-top: 1px solid #DDD;
  padding: 1rem;
}