.apartment_card {
  border: 1px solid #DDD;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.apartment_card__header {

}

.apartment_card__content {
  padding: 1rem;
}

.apartment_card__footer {
  border-top: 1px solid #DDD;
  padding: 1rem;
}