.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #FFF;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  padding: .5rem 0;
  z-index: 1000;
  box-shadow: 0 0 0 3px rgba($color: #000000, $alpha: 0.1);
}

.navigation_links {
  display: flex;
  margin: 0;
  padding: 0;
}

.logo {
  margin: 0;
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}