.option_toggle {
  display: flex;
}

.option_toggle__button {
  padding: .7rem 1rem;
  border: none;
  border: 1px solid #DDD;
  border-right: 0;

  &:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #DDD;
  }

  &:focus {
    outline: none;
  }
}

.option_toggle__button__selected {
  background: #DDD;
  color: #000;
  box-shadow: inset 0 0 3px 0 rgba($color: #000000, $alpha: .1);
}